<div class="container justify-content-center mt-5 text-center">
  <div style="height:400px; overflow:auto;">
    <table class="table table-bordered container table-hover table-striped">
      <thead class="table-dark">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "employee", collection: @employees %>
      </tbody>
    </table>
  </div>

  <div class="mt-5">
    <%= link_to "All", employees_path, class: "btn btn-info me-3 px-3" %>
  </div>
</div>
