<div class="container mt-5 w-50">
  <% if current_user.present? %>
    <div class="d-flex justify-content-between">
      <h3 class="pt-2 m-0">Posts</h3>
      <%= link_to "New Post", new_post_path, data: { turbo_frame: dom_id(Post.new) }, class: "btn btn-success rounded-1" %>
    </div>
    <hr>

    <%= turbo_frame_tag Post.new %>

    <%= turbo_frame_tag "posts" do %>
      <%= render @posts %>
    <% end %>
  <% else %>
    <h1>Please Login to Continue</h1>
  <% end %>
</div>
