<div class="container justify-content-center mt-5 text-center w-50">
  <div style="height:400px; overflow:auto;">
    <% if current_user.present? %>
      <table class="table table-bordered container table-hover table-striped">
        <thead class="table-dark">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "product", collection: @products %>
        </tbody>
      </table>
      
      <div class="mt-5">
        <%= link_to "Add", new_product_path, class: "btn btn-info me-3 px-3" %>
        <%= link_to "Orders", orders_path, class: "btn btn-info" %>
      </div>
    <% else %>
      <h1>Please Login to Continue</h1>
    <% end %>
  </div>
</div>
